.aboutContainer {
  scroll-behavior: smooth;
  position: relative;
  color: #fff;
  background-color: #191919;
  min-height: 40vh;
  width: 100%;
  font-size: 3em;
}

.aboutTextContainer {
  margin: 3vw 10vw;
}

@media (max-width: 425px) {
  .aboutTextContainer {
    margin: 0.4em;
  }
}

.aboutMeText {
  margin-top: 2em;
  font-size: 0.6em;
}

@media (max-width: 425px) {
  .aboutMeText {
    font-size: 0.43em;
  }
}

.aboutListContainer {
  font-size: 0.8em;
  display: flex;
}

.aboutListContainer > span {
  margin-right: 5em;
}

@media (max-width: 425px) {
  .aboutListContainer > span:first-child {
    border-right: none;
    border-bottom: 1px solid #bdd3c2;
  }
}

@media (max-width: 425px) {
  .aboutListContainer > span {
    margin-right: 0;
  }
}

@media (max-width: 425px) {
  .aboutListContainer {
    flex-direction: column;
    font-size: 0.6em;
  }
}

.list {
  color: #fbfcfc;
  font-size: 0.7em;
  margin-right: -1em;
}
