.navigationContainer {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 999;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #438c68;
  left: 0;
}

@media (max-width: 425px) {
  .navigationContainer {
    align-self: flex-start;
  }
}

.linkText {
  color: #bdd3c2;
  margin-right: 3em;
  font-size: 2.3em;
  align-self: center;
  text-decoration: none;
}

@media (max-width: 425px) {
  .linkText {
    /* left: 3em; */
  }
}

.linkText:hover {
  padding: 0.1em;
}
