.introductionContainer {
  text-align: left;
  display: flex;
  min-height: 100vh;
  align-items: center;
  margin: 0 1em;
  color: #fbfcfc;
}

.textContainer {
  margin-top: -10em;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 425px) {
  .textContainer {
    margin-top: 15em;
    align-self: flex-start;
  }
}
.welcomeText {
  margin: 0 0;
  font-size: 2.5em;
}

.fullNameText {
  letter-spacing: 0.2em;
  font-size: 4em;
  font-weight: 700;
}

.subheadingText {
  font-size: 2em;
}

.linksContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

a {
  text-decoration: none;
}

.readMoreContainer {
  font-size: 2.2em;
  text-align: center;
  /* Have the text at the bottom */
  position: absolute;
  left: calc(50% - 54px);
  top: calc(100% - 120px);
  background-color: inherit;
  border: none;
}

@media (max-width: 425px) {
  .readMoreContainer {
    left: 30%;
    font-size: 2em;
  }
}

.readMoreContainer:hover {
  color: #093820;
  font-size: 2.3em;
  transition: all 0.5s;
}
.readMoreContainer:focus {
  outline: 0;
}
